.portfolio__print-posters {
	margin-top: 50px;
}

.portfolio__print-wrapper {
	width: 33%;
	display: inline-block;
	padding: 5px;
	text-align: center;
	position: relative;
	@media only screen and ($media-mobile) {
		width: 50%;
	}
	img {
		float: left;
	}
}

.portfolio--link-wrapper {
	margin: 20px 0;
	position: relative;
}

.portfolio--link-back {
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	background-color: $brand;
	margin: 0 auto;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	display: block;
	width: 250px;
	border: 1px solid darken($brand, 5%);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	&:hover {
		background-color: darken($brand, 10%);
	}
}