@keyframes opacity-flex {
	0% { opacity: 1 }
	50% { opacity: 0.5 }
	100% { opacity: 1 }
}

.navigation {
	&__toggle {
		display: inline-block;
		border-radius: 50px;
		border: 1px solid rgba(255, 255, 255, 0.6);
		padding: 10px 9px 9px;
		position: relative;
		z-index: 1;
		height: 34px;
		width: 34px;
		padding: 10px 0 0 9px;
		span {
			width: 14px;
			background: white;
			height: 2px;
			display: block;
			border-radius: 2px;
			transition: all 0.3s;
			&:nth-child(1) {}
			&:nth-child(2) { margin: 3px 0; }
			&:nth-child(3) {}
		}
		&.is-open {
			span {
				&:nth-child(1) { transform: translateY(5px) rotate(-45deg);}
				&:nth-child(2) { transform: rotate(-45deg); opacity: 0;}
				&:nth-child(3) { transform: translateY(-5px) rotate(45deg); transform-origin: bottom 50%;}
			}
			&:hover {
				// Unset the hover animation
				span {
					&:nth-child(1) { animation: none;}
					&:nth-child(2) { animation: none;}
					&:nth-child(3) { animation: none;}
				}
			}
		}
		&:hover {
			span {
				&:nth-child(1) { animation: opacity-flex 0.3s; }
				&:nth-child(2) { animation: opacity-flex 0.3s; animation-delay: 0.1s; }
				&:nth-child(3) { animation: opacity-flex 0.3s; animation-delay: 0.2s; }
			}
		}
	}
	&__slug {
		@include site-width;
		margin-top: 40px;
	}

	&__model {
		position: absolute;
		z-index: 10;
		background: rgba(255, 255, 255, 0.8);
		top: 50%;
		left: 50%;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.7);
		transition: all 0.3s;
		@include clearfix;
		a {
			width: 150px;
			padding: 50px 0;
			text-align: center;
			color: #303540;
			float: left;
			display: block;
			text-decoration: none;
			&:hover {
				background: white;
			}
		}
		&.is-open {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}