
.portfolio {
	&__container {
		@include site-width;
		@include clearfix;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	&__strapline {
		@include site-width;
		font-family: $family--serif;
		font-size: 18px;
		font-style: italic;
		text-align: center;
		margin-top: -20px;
		margin-bottom: 90px;
		blockquote {
			margin: 0;
		}
	}
}

.example {
	&__container {		
		height: 800px;
		&--left {
			@extend .example__container;
		}
		&--right {
			@extend .example__container;
			@include generate-theme(background, background-alt, 1);
		}
	}
	&__content {
		@include site-width;
		position: relative;
		height: 100%;
	}
	&__copy {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50%;
		&--right {
			@extend .example__copy;
			left: 50%;
		}
	}
	&__title {
		font-family: $family--serif;
		font-size: 40px;
		font-weight: 100;
		margin: 0;
	}
	&__info {
		margin: 0;
		font-size: 16px;
		font-family: $family--serif;
		line-height: 1.6;
	}
	a {
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}




.ls {
	&__container {		
		background-size: 1000px auto;
		background-repeat: no-repeat;
		background-position: 90% center;
		height: 800px;
	}
	&__content {
		@include site-width;
		position: relative;
		height: 100%;
	}
	&__copy {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50%;
		color: $text--dark;
		h1 {
			font-family: $family--serif;
			font-size: 40px;
			font-weight: 100;
			margin: 0;
		}
		p {
			margin: 0;
			font-size: 16px;
			font-family: $family--serif;
		}
	}
}


.dribbble {
	&__container {
		position: relative;
		@include clearfix;
	}

	&__shot {
		display: inline-block;
		float: left;
		@include clearfix;
		margin: 0;
		overflow: hidden;
	}

	&__overlay {
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		&__content {
			@include site-width;			
		}
		&__copy {
			background: rgba(0, 0, 0, 0.9);
			padding: 20px;
			max-width: 500px;
			h1 {
				font-family: $family--serif;
				font-size: 28px;
				font-weight: 100;
			}
			p {
				font-weight: 100;
				font-size: 16px;
			}
		}
	}

}