
.portfolio {
	&__container {
		@include site-width;
		@include clearfix;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	&__strapline {
		@include site-width;
		font-family: $family--serif;
		font-size: 18px;
		font-style: italic;
		text-align: center;
		margin-top: -20px;
		margin-bottom: 90px;
		blockquote {
			margin: 0;
		}
	}
}

.example {
	&__container {		
		height: 800px;
		overflow: hidden;
		&--left {
			@extend .example__container;
		}
		&--right {
			@extend .example__container;
			@include generate-theme(background, background-alt, 1);
		}
	}
	&__content {
		@include site-width;
		position: relative;
		height: 100%;
	}
	&__copy {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50%;
		&--right {
			@extend .example__copy;
			left: 50%;
		}
	}
	&__title {
		font-family: $family--serif;
		font-size: 40px;
		font-weight: 100;
		margin: 0;
		margin-bottom: 6px;
	}
	&__info {
		margin: 0;
		font-size: 16px;
		font-family: $family--serif;
		line-height: 1.6;
	}
	&__link {
		margin-top: 20px;
	}
}


.dribbble {
	position: relative;
	&__shot {
		display: inline-block;
		position: absolute;
		float: left;
		@include clearfix;
		margin: 0;
		overflow: hidden;
	}
	&__copy {
		z-index: 2;
		background: rgba(255, 255, 255, 0.6);
	}
}
