footer {	
	background-color: #ececec;
	text-transform: uppercase;
	font-weight: 700;
	.footer-copyright {
		display: inline-block;
		vertical-align: middle;
		@include rem(padding, 20px 0);
	}
	h6 {
		@include rem(font-size, 12px);
	}
	nav {
		float: right;
	}
	a {
		@include rem(font-size, 12px);
		@include rem(padding, 20px 10px);
		display: inline-block;
		text-decoration: none;
		color: $brand--dark;
		@media only screen and ($media-mobile) {
			@include rem(padding, 20px 5px);
		}
		&:last-child {
			@include rem(padding, 20px 0 20px 10px);
			@media only screen and ($media-mobile) {
				@include rem(padding, 20px 0 20px 5px);
			}
		}
		&:hover {
			color: $brand;
		}
	}
}