.portfolio-card {
	@extend .g-i;
	@extend .desktop--one-quarter;
	@extend .laptop--one-quarter;
	@extend .tablet-landscape--one-quarter;
	@extend .tablet-portrait--one-quarter;
	@include rem(padding, 5px);
}

.portfolio-card__content {
	.portfolio-card__content--text {
		background-color: #F8F7F8;
		@include rem(padding, 10px 15px 15px 15px);
		p {
			@include rem(font-size, 14px);
			@include rem(margin, 10px 0 15px 0);
			line-height: 1.4;
		}
		a {
			color: $brand--dark;
			&:hover {
				color: $brand;
			}
		}
	}
}

.portfolio-card__content--image {	
	border-radius: 2px 2px 0 0;
	overflow: hidden;
	img {
		float: left;
	}
}

.portfolio-card__content--title {
	text-align: center;
	font-weight: 400;
}


.portfolio-card__content--button {
	display: inline-block;
	border-radius: 2px;
	border: 1px solid $brand--dark;
	color: $brand--dark;
	text-decoration: none;
	font-weight: 700;
	@include rem(padding, 4px 12px);
	@include rem(font-size, 10px);
	text-transform: uppercase;
	&:hover {
		color: $brand;
		border: 1px solid $brand;
	}
}