
<div class="portfolio-card__content">
	<div class="portfolio-card__content--image">
		<img src="/assets/img/portfolio/just-delete-me.jpg" alt="">
	</div>
	<div class="portfolio-card__content--text">
		<h2>Just Delete me</h2>
		<p>Just delete me is a directory of direct links to delete your account from web services. I co-created it with my friend, <a href="http://twitter.com/rmlewisuk">Robb Lewis</a>.</p>
		<a href="http://justdelete.me" class="portfolio-card__content--button">Visit Site</a>
	</div>
</div>