<div class="portfolio-card">
	<div class="portfolio-card__content">
		<div class="portfolio-card__content--image">
			<img src="/assets/img/portfolio/one-liner-commits.jpg" alt="">
		</div>
		<div class="portfolio-card__content--text">
			<h2>One Liner Commits</h2>
			<p>One-liner commits combines git and humour, by randomly selecting a one-liner joke and adding it to your commit message.</p>
			<a href="http://demo.edpoole.me/one-liner-commits/" class="portfolio-card__content--button">View Project</a>
		</div>
	</div>
</div>