<div class="modal--contact modal--effect">
    <div class="modal--content">
		<div class="modal--content-top">
			<h3>Contact Me</h3>
			<p>You can find me on these social networks:</p>
			<div class="social--link-wrapper">
				<a href="http://twitter.com/_ewp" class="social--link social--twitter">
					
				</a><a href="http://github.com/edpoole" class="social--link social--github">
					
				</a><a href="http://dribbble.com/edpoole" class="social--link social--dribbble">
					
				</a>
			</div>
		</div>
        <div>
            <a href="mailto:&#101;&#100;&#064;&#101;&#100;&#112;&#111;&#111;&#108;&#101;&#046;&#109;&#101;" class="model--drop-email">Or, drop me an email.</a><a href="#" class="modal--close">Close me</a>
        </div>
    </div>
</div>