

<footer>
	<small>&copy; Ed Poole 1014</small>
	<nav>
		<a href="">Github</a>
		<a href="">Dribbble</a>
		<a href="">Twitter</a>
	</nav>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/assets/js/main.min.js"></script>
<script type="text/javascript">var GoSquared = {};GoSquared.acct = "GSN-092357-O";(function(w){function gs(){w._gstc_lt = +new Date;var d = document, g = d.createElement("script");g.type = "text/javascript";g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);} w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs); })(window);
</script>

<!-- <script src="//localhost:35729/livereload.js"></script> -->
</body>
</html>