<!DOCTYPE html>
<html lang="en" class="theme-dark">
<head>
	<meta charset="UTF-8">
	<title>Ed Poole - UI Designer and Front End Developer</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="/assets/css/main.css">
	<script type="text/javascript" src="//use.typekit.net/tia5wcx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
</head>
<body>
<div class="bg-cover"></div>