<div class="navigation navigation__slug">
	<a href="#" class="navigation__toggle">
		<span></span>
		<span></span>
		<span></span>
	</a>
	<a href="/" class="navigation__link navigation__link--home {% if page.url == '/index.html' %} is-active {% endif %}">Home</a>
	<a href="/articles" class="navigation__link navigation__link--articles {% if page.url == '/articles/index.html' %} is-active {% endif %}">Articles</a>
	<a href="/portfolio" class="navigation__link navigation__link--portfolio {% if page.url == '/portfolio/index.html' %} is-active {% endif %}">Portfolio</a>

	<a href="" class="theme-switcher"><span></span></a>
</div>