.lead--home {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .lead--home__title {
    width: 50%;
    font-family: "adelle", georgia, serif; }
  .lead--home__subtitle {
    width: 50%;
    font-family: "museo-sans", helvetica, arial, sans-serif; }
  .lead--home__copy {
    width: 50%;
    font-family: "museo-sans", helvetica, arial, sans-serif; }
