---
layout: page
---


<section class="hero hero--portfolio">
	<div class="g">
		<div class="hero--portfolio__content">
			<h1 class="hero--portfolio__title animated fadeInLeft">Latest Projects</h1>
			<h2 class="hero--portfolio__subtitle animated fadeInLeft">UX and UI Design</h2>
			<p class="hero--portfolio__paragraph animated fadeInLeft">Here you will find a collection of <a href="http://dribbble.com/edpoole">Dribbble shots</a>, <a href="http://github.com/edpoole">Github Repos</a>, and projects I have created or been apart of.</p>
		</div><div class="hero--portfolio__image">
			<img class="animated fadeInUp" src="/assets/img/hero/portfolio--phone.png" alt="">
		</div><div class="hero--portfolio__images">
			<img class="animated fadeInUp" src="/assets/img/hero/portfolio--phones.png" alt="">
		</div>
	</div>
</section>

<section class="content content--portfolio">
	<div class="g">
		<h2 class="content--portfolio__header">Projects</h2>
		<div class="content--portfolio__projects--container">
			<div class="portfolio-card">
				{% include portfolio/just-delete-me.html %}
			</div><div class="portfolio-card">
			{% include portfolio/one-liner-commits.html %}
			</div></div><div class="portfolio-card">
			{% include portfolio/2013-in-review.html %}
			</div>
		</div>
	</div>
	<div class="g content--portfolio__dribbble">
		<h2 class="content--portfolio__header">Dribbble Shots</h2>
		<div class="content--portfolio__dribbble--container">
			
		</div>
	</div>	
</section>

<section class="homepage-tabs">
	<a href="http://dribbble.com/edpoole" class="homepage-tabs__dribbble">
		<h4>Visit my Profile</h4>
		<h1>Dribbble</h1>
	</a>
	<a href="http://github.com/edpoole" class="homepage-tabs__github">
		<h4>Visit my Profile</h4>
		<h1>GitHub</h1>
	</a>
</section>