@mixin clearfix {
	&:after {
		clear: both;
		display: table;
		content: "";
	}
}


@mixin site-width {
	@include clearfix;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	@media only screen and ($media-laptop) {
		max-width: 1024px;
		padding: 0 20px;
	}
	@media only screen and ($media-desktop) {
		max-width: 1120px;
		padding: 0 40px;
	}
}


@mixin generate-theme($property, $key, $opacity) {
    @each $theme in $themes {
        $theme-name: nth($theme, 1);
        $theme-contents: nth($theme, 2);
        @each $theme-content in $theme-contents {
            $theme-key: nth($theme-content, 1);
            $theme-value: nth($theme-content, 2);
            @if $theme-key == $key {
            	$rgb: "rgb(" + #{$theme-value} + ")";
            	$rgba: "rgba(" + #{$theme-value} + ", " + #{$opacity} + ")";
                .#{$theme-name} & {
                	#{$property}: #{$rgb};
                    #{$property}: #{$rgba};
                }
            }
        }        
    }
}