// fonts
// $family--serif:  "minion-pro", georgia, serif;
$family--serif: "freight-text-pro", georgia, serif;
$family--sans: "museo-sans", helvetica, arial, sans-serif;
$family--mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;


// Breakpoints

$laptop:           1200px;
$tablet-landscape: 1024px;
$tablet-portrait:  768px;
$mobile:           480px;

// Media Queries

$media-desktop:	unquote('min-width: 1200px');
$media-laptop:	unquote('min-width: 1024px');
$media-tablet-landscape: unquote('min-width: 768px');
$media-tablet-portrait:	unquote('min-width: 480px');

// Colours

$text--dark: rgb(30, 34, 41);

$themes: (
    theme-dark (
        background "30, 34, 41",
        copy "255, 255, 255",
        accent "116, 163, 212"        
    ),
    theme-light (
        background "153, 204, 50",
        copy "53, 70, 18",
        accent "255, 255, 255"
    )
);

