<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="6ntKzPTyXIFmjXVtM-gNM9cngqxTH5jxvuWW_FMPgeA" />
	<title>Blog</title>
	<link rel="stylesheet" href="/stylesheets/screen.css">
	<link rel="dns-prefetch" href="//use.typekit.net">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="/icon.png">
    <link rel="apple-touch-icon-precomposed" href="/icon.png">
    <script type="text/javascript" src="//use.typekit.net/lri1knn.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="apple-mobile-web-app-title" content="edpoole.me">
    <meta name="description" content="Designer and front end developer writing mostly about CSS and design.">
</head>
<body>
	<header class="focus-mode wrapper cf">
		<a class="site-title" href="/">Ed Poole</a>
		<nav class="site-nav">
			<a class="active" href="/">Articles</a>
			<a href="/projects">Projects</a>
			<a href="/about/">About</a>
		</nav>
	</header>		
	{{content}}
	<footer class="focus-mode wrapper">
		<p class="milli footer-top">&copy; Ed Poole 2013.</p> 
		<p class="milli"><a href="http://twitter.com/_ewp">Twitter</a> | <a href="http://github.com/edpoole">Github</a> | <a href="http://dribbble.com/edpoole">Dribbble</a></p>
	</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/javascripts/scripts.min.js"></script>
<script type="text/javascript">var GoSquared = {};GoSquared.acct = "GSN-092357-O";(function(w){function gs(){w._gstc_lt = +new Date;var d = document, g = d.createElement("script");g.type = "text/javascript";g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);} w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs); })(window);
</script>
</body>
</html>