{% include header.html %}
{% include contact.html %}
<div class="container-for-modal">
	<section class="site-nav--mobile">
		{% include navigation--mobile.html %}
	</section>
	<section class="site-nav">		
		{% include navigation.html %}
	</section>

	<section class="hero hero--article" style="background-image: url(/assets/img/articles/{{page.cover}})">
		<div class="g mobile--hero-click">
			<div class="article--center">
				<h1 class="hero--article__title animated fadeInDown">{{page.title}}</h1>
				<h2 class="hero--article__subtitle animated fadeInDown">{{page.extract}}</h2>
				<h6 class="hero--article__date animated fadeInDown">{{ page.date | date: "%B %d, %Y" }}</h6>				
			</div>
		</div>
		<a class="hero--article__toggle" href="#">click</a>
		<div class="hero--article__overlay"></div>
	</section>

	<section class="content content--post">
		<div class="g">
			<article class="article--center">
				{{content}}
			</article>
		</div>
	</section>

	{% include footer.html %}
</div>
{% include foot.html %}