{% include header.html %}
<section class="site-nav site-nav--article">
	{% include navigation.html %}
</section>

<section class="hero hero--article">
	<div class="g">
		<h1 class="hero--article__title">{{page.title}}</h1>
		<h2 class="hero--article__subtitle">{{page.extract}}</h2>
		<h6 class="hero--article__date">{{ page.date | date: "%B %d, %Y" }}</h6>
	</div>
</section>

<section class="content content--article">
	<article class="content--article__post">
		{{content}}
	</article>
</section>

{% include footer.html %}



