

.hero--blog {
	background-image: url(img/hero/articles.jpg);
}

.hero--blog__title {
	@include rem(padding, 220px 0 10px 0);
	@include rem(font-size, 36px);
	text-align: center;
}

.hero--blog__subtitle {
	text-align: center;
	font-weight: 100;
	font-style: italic;
	@include rem(font-size, 20px);
}


.content--article {
	@extend .g-i;
	@extend .desktop--three-fifths;
	@extend .push--desktop--one-fifth;
	@extend .laptop--three-fifths;
	@extend .push--laptop--one-fifth;
	@extend .tablet-landscape--four-fifths;
	@extend .push--tablet-landscape--one-tenth;
}

.content--article__link {
	text-decoration: none;
	color: $brand--dark;
	@include rem(margin, 60px 0);
	display: block;
}

.content--article__title {
	@include rem(font-size, 28px);
}
.content--article__subtitle {
	@include rem(margin, 5px 0);
	@include rem(font-size, 18px);
	font-weight: 100;
	line-height: 1.4;
}
.content--article__date {
	color: rgba($brand--dark, 0.6);
	@include rem(font-size, 12px);
	text-transform: uppercase;
	@include rem(margin, 10px 0);
}


.content--pagination {
	overflow: hidden;
}



.content--pagination__previous {
	float: left;
	background-color: #f5f5f5;
	display: block;
	width: 50%;	
	text-align: right;
	font-family: $family--serif;
	font-weight: 700;
	text-decoration: none;
	@include rem(font-size, 24px);
	@include rem(padding, 20px);	
	color: $brand--dark;
	&:hover {
		color: white;
		background-color: $brand--dark;
	}
}

.content--pagination__next {
	float: right;
	background-color: #e9e9e9;
	display: block;
	margin-left: -1px;
	width: 50%;	
	font-family: $family--serif;

	font-weight: 700;
	text-decoration: none;
	@include rem(font-size, 24px);
	@include rem(padding, 20px);	
	color: $brand--dark;
	&:hover {
		color: white;
		background-color: $brand--dark;
	}
}









