---
layout: page
---

<section class="hero hero--blog">
	<div class="g">
		<h1 class="hero--blog__title">Articles</h1>
		<h2 class="hero--blog__subtitle">Thoughts on the web and the wider world</h2>
	</div>
</section>

<div class="g">
	<section class="content content--article">
		{% for post in paginator.posts %}
		<a href="{{post.url}}" class="content--article__link">		
			<h1 class="content--article__title">{{post.title}}</h1>
			<p class="content--article__subtitle">{{post.extract}}</p>
			<h2 class="content--article__date">{{ post.date | date: "%B %d, %Y" }}</h2>
		</a>
		{% endfor %}
	</section>
</div>

<div class="content content--pagination">
	{% if paginator.previous_page %}		
		{% if paginator.previous_page == 1 %}
			<a href="/articles/" class="content--pagination__previous">Newer Posts</a>
		{% else %}
			<a href="/articles/{{paginator.previous_page}}" class="content--pagination__previous">Newer Posts</a>
		{% endif %}
	{% endif %}
	{% if paginator.next_page %}
		<a href="/articles/{{paginator.next_page}}" class="content--pagination__next">Older Posts</a>
	{% endif %}
</div>
