---
layout: page
---

<section class="hero hero--blog">
	<div class="g">
		<h1 class="hero--blog__title">Articles</h1>
		<h2 class="hero--blog__subtitle">Thoughts on the web and the wider world</h2>
	</div>
</section>

<section class="content content--article">
	<div class="g">
		{% for post in paginator.posts %}
		<a href="{{post.url}}" class="content--article__link">		
			<h1 class="content--article__title">{{post.title}}</h1>
			<p class="content--article__subtitle">{{post.extract}}</p>
			<h2 class="content--article__date">{{ post.date | date: "%B %d, %Y" }}</h2>
		</a>
		{% endfor %}
	</div>
</section>

<div class="content content--pagination">
	{% if paginator.previous_page %}
		<a href="/page{{paginator.previous_page}}" class="content--pagination__previous">Previous</a>
	{% endif %}
	{% if paginator.next_page %}
		<a href="/page{{paginator.next_page}}" class="content--pagination__next">Next</a>
	{% endif %}
</div>
