.g,
.grid {
	list-style:none;
	margin:0 auto;
	padding:0;
	max-width: 1180px;
	@include rem(padding, 0 20px);
	@media only screen and ($media-desktop) {
		padding: 0;
	}	
}

.g-i,
.grid-item {
	display:inline-block;
	vertical-align:top;
	width:100%;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}

$breakpoint-has-widths: ('mobile', 'tablet-portrait', 'tablet-landscape', 'laptop', 'desktop');
$breakpoint-has-push: ('mobile', 'tablet-portrait', 'tablet-landscape', 'laptop', 'desktop');
$breakpoint-has-pull: ('mobile', 'tablet-portrait', 'tablet-landscape', 'laptop', 'desktop');

@mixin silent-relative() {
	position: relative;
}

@mixin grid-media-query($media-query){
	$breakpoint-found: false;
	@each $breakpoint in $breakpoints{
		$name: nth($breakpoint, 1);
		$declaration: nth($breakpoint, 2);
		@if $media-query == $name and $declaration{
			$breakpoint-found: true;
			@media only screen and #{$declaration}{
				@content;
			}
		}
	}
}

@mixin device-type($namespace:""){

	.#{$namespace}one-whole         { width:100%; }

	.#{$namespace}one-half          { width:50%; }

	.#{$namespace}one-third         { width:33.333%; }
	.#{$namespace}two-thirds        { width:66.666%; }

	.#{$namespace}one-quarter       { width:25%; }
	.#{$namespace}two-quarters      { @extend .#{$namespace}one-half; }
	.#{$namespace}three-quarters    { width:75%; }

	.#{$namespace}one-fifth         { width:20%; }
	.#{$namespace}two-fifths        { width:40%; }
	.#{$namespace}three-fifths      { width:60%; }
	.#{$namespace}four-fifths       { width:80%; }

	.#{$namespace}one-sixth         { width:16.666%; }
	.#{$namespace}two-sixths        { @extend .#{$namespace}one-third; }
	.#{$namespace}three-sixths      { @extend .#{$namespace}one-half; }
	.#{$namespace}four-sixths       { @extend .#{$namespace}two-thirds; }
	.#{$namespace}five-sixths       { width:83.333%; }

	.#{$namespace}one-eighth        { width:12.5%; }
	.#{$namespace}two-eighths       { @extend .#{$namespace}one-quarter; }
	.#{$namespace}three-eighths     { width:37.5%; }
	.#{$namespace}four-eighths      { @extend .#{$namespace}one-half; }
	.#{$namespace}five-eighths      { width:62.5%; }
	.#{$namespace}six-eighths       { @extend .#{$namespace}three-quarters; }
	.#{$namespace}seven-eighths     { width:87.5%; }

	.#{$namespace}one-tenth         { width:10%; }
	.#{$namespace}two-tenths        { @extend .#{$namespace}one-fifth; }
	.#{$namespace}three-tenths      { width:30%; }
	.#{$namespace}four-tenths       { @extend .#{$namespace}two-fifths; }
	.#{$namespace}five-tenths       { @extend .#{$namespace}one-half; }
	.#{$namespace}six-tenths        { @extend .#{$namespace}three-fifths; }
	.#{$namespace}seven-tenths      { width:70%; }
	.#{$namespace}eight-tenths      { @extend .#{$namespace}four-fifths; }
	.#{$namespace}nine-tenths       { width:90%; }

	.#{$namespace}one-twelfth       { width:8.333%; }
	.#{$namespace}two-twelfths      { @extend .#{$namespace}one-sixth; }
	.#{$namespace}three-twelfths    { @extend .#{$namespace}one-quarter; }
	.#{$namespace}four-twelfths     { @extend .#{$namespace}one-third; }
	.#{$namespace}five-twelfths     { width:41.666% }
	.#{$namespace}six-twelfths      { @extend .#{$namespace}one-half; }
	.#{$namespace}seven-twelfths    { width:58.333%; }
	.#{$namespace}eight-twelfths    { @extend .#{$namespace}two-thirds; }
	.#{$namespace}nine-twelfths     { @extend .#{$namespace}three-quarters; }
	.#{$namespace}ten-twelfths      { @extend .#{$namespace}five-sixths; }
	.#{$namespace}eleven-twelfths   { width:91.666%; }
}

@each $name in $breakpoint-has-widths {
	@include grid-media-query($name) {
		@include device-type('#{$name}--');
	}
}

@mixin push-setup($namespace: ""){

	.push--#{$namespace}one-whole           { left:100%; @include silent-relative(); }

	.push--#{$namespace}one-half            { left:50%; @include silent-relative(); }

	.push--#{$namespace}one-third           { left:33.333%; @include silent-relative(); }
	.push--#{$namespace}two-thirds          { left:66.666%; @include silent-relative(); }

	.push--#{$namespace}one-quarter         { left:25%; @include silent-relative(); }
	.push--#{$namespace}two-quarters        { @extend .push--#{$namespace}one-half; }
	.push--#{$namespace}three-quarters      { left:75%; @include silent-relative(); }

	.push--#{$namespace}one-fifth           { left:20%; @include silent-relative(); }
	.push--#{$namespace}two-fifths          { left:40%; @include silent-relative(); }
	.push--#{$namespace}three-fifths        { left:60%; @include silent-relative(); }
	.push--#{$namespace}four-fifths         { left:80%; @include silent-relative(); }

	.push--#{$namespace}one-sixth           { left:16.666%; @include silent-relative(); }
	.push--#{$namespace}two-sixths          { @extend .push--#{$namespace}one-third; }
	.push--#{$namespace}three-sixths        { @extend .push--#{$namespace}one-half; }
	.push--#{$namespace}four-sixths         { @extend .push--#{$namespace}two-thirds; }
	.push--#{$namespace}five-sixths         { left:83.333%; @include silent-relative(); }

	.push--#{$namespace}one-eighth          { left:12.5%; @include silent-relative(); }
	.push--#{$namespace}two-eighths         { @extend .push--#{$namespace}one-quarter; }
	.push--#{$namespace}three-eighths       { left:37.5%; @include silent-relative(); }
	.push--#{$namespace}four-eighths        { @extend .push--#{$namespace}one-half; }
	.push--#{$namespace}five-eighths        { left:62.5%; @include silent-relative(); }
	.push--#{$namespace}six-eighths         { @extend .push--#{$namespace}three-quarters; }
	.push--#{$namespace}seven-eighths       { left:87.5%; @include silent-relative(); }

	.push--#{$namespace}one-tenth           { left:10%; @include silent-relative(); }
	.push--#{$namespace}two-tenths          { @extend .push--#{$namespace}one-fifth; }
	.push--#{$namespace}three-tenths        { left:30%; @include silent-relative(); }
	.push--#{$namespace}four-tenths         { @extend .push--#{$namespace}two-fifths; }
	.push--#{$namespace}five-tenths         { @extend .push--#{$namespace}one-half; }
	.push--#{$namespace}six-tenths          { @extend .push--#{$namespace}three-fifths; }
	.push--#{$namespace}seven-tenths        { left:70%; @include silent-relative(); }
	.push--#{$namespace}eight-tenths        { @extend .push--#{$namespace}four-fifths; }
	.push--#{$namespace}nine-tenths         { left:90%; @include silent-relative(); }

	.push--#{$namespace}one-twelfth         { left:8.333%; @include silent-relative(); }
	.push--#{$namespace}two-twelfths        { @extend .push--#{$namespace}one-sixth; }
	.push--#{$namespace}three-twelfths      { @extend .push--#{$namespace}one-quarter; }
	.push--#{$namespace}four-twelfths       { @extend .push--#{$namespace}one-third; }
	.push--#{$namespace}five-twelfths       { left:41.666%; @include silent-relative(); }
	.push--#{$namespace}six-twelfths        { @extend .push--#{$namespace}one-half; }
	.push--#{$namespace}seven-twelfths      { left:58.333%; @include silent-relative(); }
	.push--#{$namespace}eight-twelfths      { @extend .push--#{$namespace}two-thirds; }
	.push--#{$namespace}nine-twelfths       { @extend .push--#{$namespace}three-quarters; }
	.push--#{$namespace}ten-twelfths        { @extend .push--#{$namespace}five-sixths; }
	.push--#{$namespace}eleven-twelfths     { left:91.666%; @include silent-relative(); }
}


[class*="push--"]{ position:relative; }
@each $name in $breakpoint-has-push {
	@include grid-media-query($name) {
		@include  push-setup('#{$name}--');
	}
}


@mixin pull-setup($namespace: ""){

	.pull--#{$namespace}one-whole           { right:100%; @include silent-relative(); }

	.pull--#{$namespace}one-half            { right:50%; @include silent-relative(); }

	.pull--#{$namespace}one-third           { right:33.333%; @include silent-relative(); }
	.pull--#{$namespace}two-thirds          { right:66.666%; @include silent-relative(); }

	.pull--#{$namespace}one-quarter         { right:25%; @include silent-relative(); }
	.pull--#{$namespace}two-quarters        { @extend .pull--#{$namespace}one-half; }
	.pull--#{$namespace}three-quarters      { right:75%; @include silent-relative(); }

	.pull--#{$namespace}one-fifth           { right:20%; @include silent-relative(); }
	.pull--#{$namespace}two-fifths          { right:40%; @include silent-relative(); }
	.pull--#{$namespace}three-fifths        { right:60%; @include silent-relative(); }
	.pull--#{$namespace}four-fifths         { right:80%; @include silent-relative(); }

	.pull--#{$namespace}one-sixth           { right:16.666%; @include silent-relative(); }
	.pull--#{$namespace}two-sixths          { @extend .pull--#{$namespace}one-third; }
	.pull--#{$namespace}three-sixths        { @extend .pull--#{$namespace}one-half; }
	.pull--#{$namespace}four-sixths         { @extend .pull--#{$namespace}two-thirds; }
	.pull--#{$namespace}five-sixths         { right:83.333%; @include silent-relative(); }

	.pull--#{$namespace}one-eighth          { right:12.5%; @include silent-relative(); }
	.pull--#{$namespace}two-eighths         { @extend .pull--#{$namespace}one-quarter; }
	.pull--#{$namespace}three-eighths       { right:37.5%; @include silent-relative(); }
	.pull--#{$namespace}four-eighths        { @extend .pull--#{$namespace}one-half; }
	.pull--#{$namespace}five-eighths        { right:62.5%; @include silent-relative(); }
	.pull--#{$namespace}six-eighths         { @extend .pull--#{$namespace}three-quarters; }
	.pull--#{$namespace}seven-eighths       { right:87.5%; @include silent-relative(); }

	.pull--#{$namespace}one-tenth           { right:10%; @include silent-relative(); }
	.pull--#{$namespace}two-tenths          { @extend .pull--#{$namespace}one-fifth; }
	.pull--#{$namespace}three-tenths        { right:30%; @include silent-relative(); }
	.pull--#{$namespace}four-tenths         { @extend .pull--#{$namespace}two-fifths; }
	.pull--#{$namespace}five-tenths         { @extend .pull--#{$namespace}one-half; }
	.pull--#{$namespace}six-tenths          { @extend .pull--#{$namespace}three-fifths; }
	.pull--#{$namespace}seven-tenths        { right:70%; @include silent-relative(); }
	.pull--#{$namespace}eight-tenths        { @extend .pull--#{$namespace}four-fifths; }
	.pull--#{$namespace}nine-tenths         { right:90%; @include silent-relative(); }

	.pull--#{$namespace}one-twelfth         { right:8.333%; @include silent-relative(); }
	.pull--#{$namespace}two-twelfths        { @extend .pull--#{$namespace}one-sixth; }
	.pull--#{$namespace}three-twelfths      { @extend .pull--#{$namespace}one-quarter; }
	.pull--#{$namespace}four-twelfths       { @extend .pull--#{$namespace}one-third; }
	.pull--#{$namespace}five-twelfths       { right:41.666%; @include silent-relative(); }
	.pull--#{$namespace}six-twelfths        { @extend .pull--#{$namespace}one-half; }
	.pull--#{$namespace}seven-twelfths      { right:58.333%; @include silent-relative(); }
	.pull--#{$namespace}eight-twelfths      { @extend .pull--#{$namespace}two-thirds; }
	.pull--#{$namespace}nine-twelfths       { @extend .pull--#{$namespace}three-quarters; }
	.pull--#{$namespace}ten-twelfths        { @extend .pull--#{$namespace}five-sixths; }
	.pull--#{$namespace}eleven-twelfths     { right:91.666%; @include silent-relative(); }
}


[class*="pull--"]{ position:relative; }
@each $name in $breakpoint-has-pull {
	@include grid-media-query($name) {
		@include  pull-setup('#{$name}--');
	}
}