$baseline_px: 16px; // DONT FUCKING CHANGE. EVER.

@mixin rem($property, $px_values) {
	$baseline_rem: ($baseline_px / 1rem);
	#{$property}: $px_values;
	@if type-of($px_values) == 'number' {
		#{$property}: $px_values / $baseline_rem;
	} @else {
		$rem_values: ();
		@each $value in $px_values {
			@if $value == 0 { 
				$rem_values: append($rem_values, $value); 
			} @else {
				$rem_values: append($rem_values, ($value / $baseline_rem) );
			}
		}
		#{$property}: $rem_values;
	}
}

@mixin vendorPrefix($property, $arguments) {
	-webkit-#{$property}:   $arguments;
	-moz-#{$property}:      $arguments;
	-ms-#{$property}:       $arguments;
	-o-#{$property}:        $arguments;
	#{$property}:           $arguments;
}

@mixin inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
}