

body {
	font-size: 100%;
	font-family: $family--sans;
}

.content--post {

	color: $brand--dark;
	@include rem(padding, 40px 0);

	h1 {
		@include rem(font-size, 40px);
		@include rem(margin, 40px 0);
		font-weight: 700;
		font-family: $family--serif;
		line-height: 1.2;
	}
	h2 {
		@include rem(font-size, 32px);
		@include rem(margin, 32px 0);
		font-weight: 700;
		font-family: $family--serif;
		line-height: 1.2;
	}
	h3 {
		@include rem(font-size, 24px);
		@include rem(margin, 24px 0);
		font-weight: 700;
		font-family: $family--serif;
		line-height: 1.4;
	}
	h4 {
		@include rem(font-size, 20px);
		@include rem(margin, 20px 0);
		line-height: 1.5;
		font-family: $family--serif;
	}
	h5 {
		@include rem(font-size, 18px);
		@include rem(margin, 18px 0);
		line-height: 1.5;
		font-family: $family--serif;
	}
	h6 {
		@include rem(font-size, 16px);
		@include rem(margin, 18px 0);
		line-height: 1.5;
		font-family: $family--serif;
	}

	p {
		@include rem(margin, 24px 0);
		@include rem(font-size, 22px);
		@media only screen and ($media-mobile) {
			@include rem(font-size, 16px);
		}
		font-weight: 300;
		font-family: $family--serif;
		line-height: 1.4;
	}

	li {
		line-height: 1.8;
	}


	small {
		font-size: 12px;
	}

	blockquote {	
		line-height: 1.7;
		@include rem(margin, 20px 0);
		@include rem(text-indent, 30px);
		position: relative;	
		text-align: justify;
		&:before {
			position: absolute;
			top: 7px;
			left: -3px;
			content: "“";
			line-height: 1;
			@include rem(font-size, 80px);
		}
	}

	hr {
		@include rem(margin, 40px 0);
		border: none;
	}

	a {
		@extend %fade-in;
		display: inline-block;
		line-height: 1;
		color: $brand--dark;
		&:hover {
			text-decoration: underline;
			color: $brand;
		}
	}



	// pre {}
	pre code {
		@include rem(padding, 0 20px);
		display: block;
		tab-size:4;
		-moz-tab-size: 4;
		-o-tab-size:  4;
	  	white-space: pre-wrap;
	  	border: none;
	  	background-color: #F7F7F7;
	}

	code {
		display: inline-block;
		@include rem(padding, 0 7px);
		line-height: 1.4;		
	}


}